#music-register {
	list-style-type : none;
	padding-left : 0;
}

#music-register li label {
	width : 80px;
	text-align : left;
	float : left;
}

li {
	margin : 10px;
}

form > div {
	margin-top : 20px;
	display : flex;
	justify-content : space-evenly;
}

/* 버튼 스타일*/
form > div > input {
	width : 150px;
	height : 40px;
	text-align : center;
	border : 1px solid #ccc;
	background-color : #fafafa;
	box-shadow : 1px 1px 1px #ccc;
}
button {
	width : 150px;
	height : 40px;
	text-align : center;
	border : 1px solid #ccc;
	background-color : #fafafa;
	box-shadow : 1px 1px 1px #ccc;
}

/* 메인 페이지(플레이리스트) 테이블 스타일 */
table {
	border : 1px solid #ccc;
}
th, td {
	border : 1px solid #fafafa;
}


